body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 70%;
    background-color: #ccc;
    margin-left: 20px;
}

.search-bar svg {
    margin-left: 5px;
 
}

.search-bar input {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
 
}

.search-button {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
}

.content {
    display: flex;
}

.left-column, .right-column {
    flex: 1;
    padding: 10px;
}

.calendar-chart {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    color:black;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-body {
    /* Calendar body styles here */
}

.quote, .tip {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    color:black;
}

.tasks-chart {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    color:black;
}

.tasks ul {
    list-style: none;
    padding: 0;
}

.tasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.edit-button, .add-button {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
}

.notes-chart, .summaries-chart {
    margin-bottom: 20px;
}

.notes-chart button, .summaries-chart button {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    color:black;
    text-align: left;
}
