.sidebar {
    position: fixed; /* Position fixed to the viewport */
    top: 0;          /* Align to the top */
    left: 0;         /* Align to the left */
    width: 5%;    /* Adjust width as necessary */
    height: 100vh;   /* Full viewport height */
    background-color: #C0C1CE; /* Background color */
    z-index: 1000;   /* Ensure it's on top of other content */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuye los iconos equitativamente */
    padding: 10px 0;
}



.icon {
   /* flex-grow: 1;   /* Hace que cada ícono se expanda para llenar el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 5px 0; /* Space between icons */
    padding: 10px; /* Padding inside the icon div */
}

.icon:hover {
    background-color: #999aa9; /* Hover effect */
}

.icon.profile {
    margin-top: 10px;
}

.icon.logout {
    margin-top: 80px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 10%;  /* Wider sidebar for smaller screens */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 10%;  /* Wider sidebar for smaller screens */
    }
}

@media (max-width: 1040px) {
    .sidebar {
        width: 10%;  /* Wider sidebar for smaller screens */
    }
    .icon.profile {
        margin-top: 5px;
    }
    
    .icon.logout {
        margin-top: 10px;
    }
    .icon {
        /* flex-grow: 1;   /* Hace que cada ícono se expanda para llenar el espacio disponible */
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         color: white;
         cursor: pointer;
         width: 100%;
         margin: 0px 0; /* Space between icons */
         padding: 10px; /* Padding inside the icon div */
     }
}